#from xml.sax.saxutils import escape
#import os
#set $subdirs = $result.get_subdirs()
#set $subdirs = filter(lambda sd: len(sd) > len($rel_dir), $subdirs)
<html>
	<head>
		<title>$rel_dir - $title</title>
		<link rel="stylesheet" type="text/css" href="$os.path.join(os.path.relpath('.', $rel_dir), 'style.css')" />
	</head>
	<body>
		<h1>$title</h1>
		#if $os.path.dirname($rel_dir)
		<span style="float:right;">
			<a href="$os.path.join('..', 'index.html')">
				Parent Directory
			</a> ($os.path.dirname($rel_dir))
		</span>
		#end if
		####### summary #######
		<h2>Kludge Summary of $rel_dir</h2>
		<table>
			<tr>
				<th>Total Kludges</th>
				<td>$len($result)</td>
			</tr>
			<tr>
				<th>Total Subdirs</th>
				<td>$len($subdirs)</td>
			</tr>
		</table>
		####### build dir toc #######
		<h3>All Directories within $rel_dir</h3>
		<ul>
		#for $subdir in $sorted($subdirs)
			#set $link = $os.path.relpath($os.path.join($subdir, 'index.html'), $rel_dir)
			<li><a href="$link">$subdir</a> ($len($result.get_subset(subdir=$subdir)))</li>
		#end for
		</ul>
		####### build file toc #######
		#set $files = sorted($result.get_files())
		<h3>All Files within $rel_dir</h3>
		<ul>
		#for $file in $files
			<li><a href="#$file">$file</a> ($len($result.get_subset(files=[$file])))</li>
		#end for
		</ul>
		####### file list #######
		<h2>Kludge Snippets in $rel_dir</h2>
		#for $file in $files
			<a name="$file"></a>
			#set $chunks = $result.get_subset(files=[$file]).get_chunks()
			#for $i, $chunk in enumerate($chunks)
				#if len($chunks) > 1
					<h3>$file &mdash; $(i+1)</h3>
				#else
					<h3>$file</h3>
				#end if
				<table>
				#for $key, $value in $chunk.get_info()
					<tr>
						<th>$key</th>
						<td>$value</td>
					</tr>
				#end for
				</table>
				<pre>
					#for $lineno, $line in enumerate($chunk.get_lines())
						#if $chunk.get_lineno()-5 < $lineno < $chunk.get_lineno()+5
							#if $chunk.get_lineno() == $lineno
<span style="background-color:#99ccff"><strong>$($lineno+1)</strong>        $escape($line[:-1])</span>
							#else
$($lineno+1)        $escape($line[:-1])
							#end if
						#end if
					#end for
				</pre>
			#end for
		#end for
	</body>
</html>
